[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-environ = "*"
werkzeug = "*"
django-markdownify = "*"
django-registration-redux = "*"

[requires]
python_version = "3.8"
